.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: 'Romanesco', cursive;
  color: #000000;
  margin-left: 30px;
  text-align: left;
}


.detail-container {
  width: 300px;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  height: 90vh;
}