.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: 'Romanesco', cursive;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-top: 20px;
}


.detail-container {
  width: 300px;
  padding: 10px;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  height: 90vh;
}